<!DOCTYPE html>
<html>
<head>

  <title>Sample Store</title>
  <%= stylesheet_link_tag    "foundation", :media => "all" %>
  <%= stylesheet_link_tag    "store", :media => "all" %>
  <%= javascript_include_tag "store" %>
  <%= csrf_meta_tags %>

</head>
<body>

  <header>
    <%= render partial: "top_nav_bar" %>
  </header>

  <%= yield %>

  <footer class="row">
    <%= render partial: "footer" %>
  </footer>

</body>
</html>
